
@{
    ViewData["Title"] = "Blog";
}


@model BlogVM

@section Css{
      <link rel="stylesheet" href="~/assets/css/pages/blog/blog.css">
}

<!--MAIN-START-->

<main>

    <!--BANNER-START-->

    <section id="banner">

        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="banner" style="background-image: url(assets/images/banners/@Model.Banners.Skip(6).Take(1).FirstOrDefault().Image">
                <h1>@Model.BannerInfos.Skip(3).Take(1).FirstOrDefault().Title</h1>
                <p>@Model.BannerInfos.Skip(3).Take(1).FirstOrDefault().Description</p>
            </div>

        </div>

    </section>

    <!--BANNER-END-->


    <!--BLOG-START-->

    <section id="blog" class="my-5">
        <div class="container">

            <div class="breadcrumb-sortby d-flex">

                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                   <ol class="breadcrumb">
                     <div class="breadcrumb-items">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                        <li class="breadcrumb-item active"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                        <li class="breadcrumb-item"><a asp-controller="About" asp-action="Index">About</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </div>
                   </ol>
                </nav>

            <div class="sort-by">
                <span>Sort by</span>

                <select id="">
                    <option value="option1">Price - Low to High</option>
                    <option value="option2">Price - High to Low</option>
                    <option value="option3">Name - A to Z</option>
                    <option value="option4">Name - Z to A</option>
                </select>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="left-side">

                   @foreach (Blog_ blog in Model.PaginatedBlogs.Datas)
                   {
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="blog">

                                <div class="blog-image">
                                    <img src="~/assets/images/blogs/@blog.Image" alt="">
                                </div>

                                <div class="blog-content">
                                    <div class="blog-author-date">
                                        <div class="author">
                                            <i class="fa-solid fa-user-tie"></i>
                                            <span>@blog.Author.FullName</span>
                                        </div>

                                        <div class="comment">
                                            <i class="fa-regular fa-comment"></i>
                                            <span>@blog.BlogReviews.Where(m => m.BlogId == blog.Id).Count() Comments</span>
                                        </div>

                                        <div class="datetime">
                                            <i class="fa-regular fa-calendar-days"></i>
                                            <span>@blog.DateTime.ToString("MM.dd.yyyy")</span>
                                        </div>


                                    </div>

                                    <div class="blog-name text">
                                        <span>@blog.Title</span>
                                    </div>

                                    <div class="blog-description text">
                                        <p>@blog.Description</p>
                                    </div>


                                </div>

                            </div>

                        </div>
                        }

                </div>
            </div>


            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="right-side">

                    <div class="blog-items search my-5">
                        <h3>Search Blogs</h3>
                        <form>
                            <input type="text" placeholder="Search">
                            <button type="submit" class="btn btn-success mt-3">Search</button>
                        </form>
                    </div>

                    <div class="blog-items">

                     @foreach (Blog_ blog in Model.PaginatedBlogs.Datas)
                        {
                          <div class="blog-item">

                            <div class="blog-image">
                                <img src="~/assets/images/blogs/@blog.Image" alt="">
                            </div>
                            <div class="blog-description">
                                <h3>@blog.Title</h3>
                                <span>@blog.DateTime.ToString("MM.dd.yyyy")</span>
                            </div>

                          </div>    
                        }

                  </div>

                    <div class="blog-items">
                        <h5>Categories</h5>
                        <ul class="product-categories">
                            @foreach (Category category in Model.Categories)
                            {
                                <li>@category.Name<span>(@category.Products.Where(m => m.CategoryId == category.Id).Count()) products</span></li>
                            }
                        </ul>

                    </div>

                    <div class="blog-items">
                        <h5>Tags</h5>
                        <div class="tags">
                            @foreach (Tag tag in Model.Tags)
                            {
                                <span>#@tag.Name</span>
                            }
                        </div>

                    </div>

                    <div class="blog-items social-media">
                        <h5>Social Medias</h5>

                        <div class="social-medias">
                            <a href="https://www.facebook.com/">@Html.Raw(Model.SocialMedias.Take(1).FirstOrDefault().Name)</a>
                            <a href="https://www.twitter.com/">@Html.Raw(Model.SocialMedias.Skip(1).Take(1).FirstOrDefault().Name)</a>
                            <a href="https://www.instagram.com/">@Html.Raw(Model.SocialMedias.Skip(2).Take(1).FirstOrDefault().Name)</a>
                            <a href="https://www.linkedin.com/">@Html.Raw(Model.SocialMedias.Skip(3).Take(1).FirstOrDefault().Name)</a>
                            <a href="https://www.pinterest.com/">@Html.Raw(Model.SocialMedias.Skip(4).Take(1).FirstOrDefault().Name)</a>
                        </div>
                    </div>

                    <div class="banner">
                        <img src="~/assets/images/banners/@Model.Banners.Skip(8).Take(1).FirstOrDefault().Image" alt="">
                    </div>
                </div>

            </div>

        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination mt-3">
              <li class="page-item @(Model.PaginatedBlogs.HasPrevious ? "" : "disabled")" >
                 <a class="page-link" asp-route-page="@(Model.PaginatedBlogs.CurrentPage - 1)">Previous</a>
              </li>

              @for (int i = 1; i <= Model.PaginatedBlogs.TotalPage; i++)
              {
              <li class="page-item @(Model.PaginatedBlogs.CurrentPage == i ? "disabled" : "")">
                  <a class="page-link @(Model.PaginatedBlogs.CurrentPage == i ? "active-color" : "" )" asp-route-page="@i">@i</a>
              </li>
              }

              <li class="page-item @(Model.PaginatedBlogs.HasNext ? "" : "disabled")">
                  <a class="page-link" asp-route-page="@(Model.PaginatedBlogs.CurrentPage + 1)">Next</a>
              </li>
            </ul>
        </nav>
        </div>

    </section>

    <!--BLOG-END-->

</main>


<!--MAIN-END-->

@section Scripts{
    <script src="~/assets/js/blog.js"></script>
}