@{
    ViewData["Title"] = "Home";
}

@model HomeVM

@section Css{
   <link rel="stylesheet"
          href="~/assets/lib/owl-carousel/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css">
   <link rel="stylesheet"
          href="~/assets/lib/owl-carousel/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.theme.default.min.css">
   <link rel="stylesheet" href="~/assets/css/pages/home/home.css">
}

  <!--MAIN-START-->

  <main>

    <!--BANNER-START-->

    <section id="banner">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="banner-section" style="background-image: url(assets/images/backgrounds/@Model.Banners.Take(1).FirstOrDefault().Image">

          <div class="banner-images">
            <img class="img-animation1 image1" src="~/assets/images/banners/@Model.Banners.Skip(1).Take(1).FirstOrDefault().Image" alt="">
            <img class="img-animation2 image2" src="~/assets/images/banners/@Model.Banners.Skip(2).Take(1).FirstOrDefault().Image" alt="">
          </div>


          <div class="banner-content">

            <div class="banner-text">

              <div class="banner-title banner">
                <h4>@Model.BannerInfos.Take(1).FirstOrDefault().Title</h4>
                <img src="~/assets/images/backgrounds/background3.png" alt="">
              </div>

              <div class="banner-description banner">

                @Html.Raw(Model.BannerInfos.Take(1).FirstOrDefault().Description)

              </div>
            </div>


          </div>


        </div>
      </div>

    </section>

    <!--BANNER-END-->



    <!--SLIDER-START-->

    <section id="slider" class="mt-4">

      <div class="advert-images">
        <div class="advert-image">
          <img src="~/assets/images/banners/@Model.Banners.Skip(3).Take(1).FirstOrDefault().Image" alt="">
        </div>
        <div class="advert-image">
          <img src="~/assets/images/banners/@Model.Banners.Skip(4).Take(1).FirstOrDefault().Image" alt="">
        </div>
      </div>


      <div class="col-sm-12 col-md-6 col-lg-9">
        <div id="carouselExampleIndicators" class="carousel slide slider">


          <div class="carousel-indicators indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1 btn-slide"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2 slide btn-slide"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3 slide btn-slide"></button>
          </div>

          <div class="carousel-inner carousel">

              @foreach (Slider slider in Model.Sliders)
              {
              <div class="carousel-item @(slider == Model.Sliders.FirstOrDefault() ? "active" : "")">
              <img src="~/assets/images/sliders/@slider.Image" class="d-block w-100" alt="...">
              <div class="carousel-text1 @(slider == Model.Sliders.Skip(1).Take(1).FirstOrDefault() ? "carousel-text2" : "") @(slider == Model.Sliders.Skip(2).Take(1).FirstOrDefault() ? "carousel-text3" : "")">
              <img src="~/assets/images/info-logos/@slider.Logo" alt="">
              <span>@slider.Text</span>
              <h3>@slider.Title</h3>
              <p>@slider.Description</p>
              <a asp-controller="Shop" asp-action="Index">Shop Now</a>
              </div>
              </div>
              }
          </div>

          <button class="carousel-control-prev prev btn" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next next btn" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
      </div>


    </section>

    <!--SLIDER-END-->



    <!--SERVICE-START-->

    <section id="service" class="my-4">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="services">

            @foreach (Assistance assistance in Model.Assistances)
            {
            <div class="service">
            <div class="service-image">
              <img src="~/assets/images/services/@assistance.Image" alt="">
            </div>
            <div class="service-text">
              <span>@assistance.Title</span>
              <p>@assistance.Description</p>
            </div>
          </div>
            }
            
        </div>

      </div>

    </section>

    <!--SERVICE-END-->



    <!--CATEGORY-START-->

    <section id="category">

      <div class="owl-carousel owl-theme loop nonloop">

          @foreach (Category category in Model.Categories)
          {
            <div class="col-sm-12 col-md-12 col-lg-12">
               <div class="item image">
                  <img src="~/assets/images/categories/@category.Image" alt="">
                  <div class="image-content">
                  <h5 class="vegetable">@category.Name</h5>
                  <span>@category.Products.Where(m => m.CategoryId == category.Id).Count() products</span>
                  </div>
               </div>
            </div>
          }

      </div>

    </section>

    <!--CATEGORY-END-->



    <!--TAB-MENU-PRODUCT-START-->

    <section id="tab-menu" class="products mt-4 pb-5">
      <div class="container">

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link btn active" id="pills-featured-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-featured" type="button" role="tab" aria-controls="pills-featured"
                  aria-selected="true">Top Featured</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link btn" id="pills-sale-tab" data-bs-toggle="pill" data-bs-target="#pills-sale"
                  type="button" role="tab" aria-controls="pills-sale" aria-selected="false">Top Sale</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link btn" id="pills-rated-tab" data-bs-toggle="pill" data-bs-target="#pills-rated"
                  type="button" role="tab" aria-controls="pills-rated" aria-selected="false">Top Rated</button>
              </li>
            </ul>

          </div>

          <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade tab show active tab-featured" id="pills-featured" role="tabpanel"
              aria-labelledby="pills-featured-tab" tabindex="0">

              <div class="featured-products d-flex flex-wrap" data-count="@ViewBag.productCount">
                   <partial name="_ProductsPartial" model="Model.Products.OrderByDescending(m => m.Id).Take(4)" />
              </div>

              <div class="blog-btn text-center mt-3">
                   <a class="btn btn-success show-more-featured">Show More</a>
                   <a class="btn btn-success show-less-featured d-none">Show Less</a>
              </div>

            </div>

            <div class="tab-pane fade tab tab-sale" data-count="@ViewBag.productCount" id="pills-sale" role="tabpanel" aria-labelledby="pills-sale-tab"
              tabindex="0">

              <div class="sale-products d-flex flex-wrap" data-count="@ViewBag.productCount">
                    <partial name="_ProductsPartial" model="Model.Products.OrderByDescending(m => m.SaleCount).Take(4)" />
              </div>

              <div class="blog-btn text-center mt-3">
                  <a class="btn btn-success show-more-sale">Show More</a>
                  <a class="btn btn-success show-less-sale d-none">Show Less</a>
              </div>

            </div>
  
            <div class="tab-pane fade tab tab-rated" data-count="@ViewBag.productCount" id="pills-rated" role="tabpanel" aria-labelledby="pills-rated-tab"
              tabindex="0">

               <div class="rated-products d-flex flex-wrap" data-count="@ViewBag.productCount">
                  <partial name="_ProductsPartial" model="Model.Products.OrderByDescending(m => m.Rating.RatingCount).Take(4)" />
               </div>

              <div class="blog-btn text-center mt-3">
                 <a class="btn btn-success show-more-rated">Show More</a>
                 <a class="btn btn-success show-less-rated d-none">Show Less</a>
              </div>
             
            </div>

          </div>
        </div>

      </div>

    </section>

    <!--TAB-MENU-PRODUCT-END-->



    <!--ADVERTISEMENT-START-->

    <section id="advertisement">

      <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="advert">
          <img src="~/assets/images/banners/@Model.Banners.Skip(5).Take(1).FirstOrDefault().Image" alt="">
          <div class="bg-color"></div>
          <div class="advert-content">
            <h2>@Model.BannerInfos.Skip(1).Take(1).FirstOrDefault().Title</h2>
            <p>@Model.BannerInfos.Skip(1).Take(1).FirstOrDefault().Description</p>
          </div>



        </div>

      </div>

    </section>

    <!--ADVERTISEMENT-END-->



    <!--TOP-FEATURED-PRODUCT-START-->

    <section id="top-featured" class="products">


      <div class="container">
        <div class="product-title pt-5">
          <h1>Top Featured Products</h1>
        </div>
      </div>

      <div class="tab-content mt-4" id="pills-tabContent">

        <div class="owl-carousel owl-theme loop nonloop">

           <partial name="_ProductsPartial" model="Model.Products.OrderByDescending(m => m.Id)" />
         
        </div>

      </div>

    </section>

    <!--TOP-FEATURED-PRODUCT-END-->



    <!--TOP-SALE-PRODUCT-START-->

    <section id="top-sale" class="products">

      <div class="container">
        <div class="product-title pt-5">
          <h1>Top Sale Products</h1>
        </div>
      </div>

      <div class="tab-content mt-4" id="pills-tabContent">

        <div class="owl-carousel owl-theme loop nonloop">

          <partial name="_ProductsPartial" model="Model.Products.OrderByDescending(m => m.SaleCount)" />
          
        </div>

      </div>

    </section>

    <!--TOP-SALE-PRODUCT-END-->



    <!--TOP-RATED-PRODUCT-START-->

    <section id="top-rated" class="products pb-5">

      <div class="container">
        <div class="product-title pt-5">
          <h1>Top Rated Products</h1>
        </div>
      </div>

      <div class="tab-content mt-4" id="pills-tabContent">

        <div class="owl-carousel owl-theme loop nonloop">

            <partial name="_ProductsPartial" model="Model.Products.OrderByDescending(m => m.Rating.RatingCount)" />

        </div>

      </div>

    </section>

    <!--TOP-RATED-PRODUCT-END-->



    <!--COUNTDOWN-START-->

    @{
        DateTime targetTime = Model.Discount.TargetTime;
    }

    <section id="countdown">

      <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="countdown">

          <div class="countdown-image">
            <img src="~/assets/images/backgrounds/@Model.Banners.Skip(12).Take(1).FirstOrDefault().Image" alt="">
          </div>

          <div class="countdown-text">
            <h1>@Model.Discount.Title</h1>
            <p>@Model.Discount.Name Discount</p>
          </div>

          <div class="countdown-timer">

            <div class="countdown-item">
              <span id="days">00</span>
              <span>days</span>
            </div>

            <div class="double-dot">:</div>

            <div class="countdown-item">
              <span id="hours">00</span>
              <span>hours</span>
            </div>

            <div class="double-dot">:</div>

            <div class="countdown-item">
              <span id="minutes">00</span>
              <span>minutes</span>
            </div>

            <div class="double-dot">:</div>

            <div class="countdown-item">
              <span id="seconds">00</span>
              <span>seconds</span>
            </div>

          </div>

           <div class="d-none target-time">@targetTime</div>

          <a asp-controller="Shop" asp-action="Index">Shop Now</a>

          <div class="countdown-discount">
              <span>@Model.Discount.Percent% discount</span>
          </div>

        </div>

      </div>


    </section>

    <!--COUNTDOWN-END-->



    <!--BRAND-START-->

    <section id="brand" class="mt-5">

      <h1>Brands</h1>

      <div class="owl-carousel owl-theme loop nonloop">

         @foreach (Brand brand in Model.Brands)
         {
           <div class="col-sm-12 col-md-12 col-lg-12">

              <div class="brand">

                  <div class="brand-image">
                     <img src="~/assets/images/brands/@brand.Image" alt="">
                  </div>

                  <div class="brand-content">
                     <h5 class="vegetable">@brand.Name</h5>
                     <span>@brand.Products.Where(m => m.BrandId == brand.Id).Count() products</span>
                  </div>
              </div>
            </div>
         }
       
      </div>

    </section>

    <!--BRAND-END-->



    <!--FEEDBACK-START-->

    <section id="feedback" class="mt-4">
      <div class="container">
        <h1>Feedbacks</h1>
        <div class="col-sm-12 col-md-12 col-lg-12">

          <div id="carouselExampleFade" class="carousel slide slider carousel-fade">
            <div class="carousel-inner">

                @foreach (Customer customer in Model.Customers)
                {
                   <div class="carousel-item @(customer == Model.Customers.FirstOrDefault() ? "active" : "")">
                        <div class="bg-color bg-color3">

                             <div class="feedback-image">
                                 <img src="~/assets/images/feedbacks/@customer.Image" alt="">
                             </div>
                             <div class="feedback-name mt-3">
                                  <span>@customer.FullName</span>
                             </div>
                              <div class="feedback-position mt-2">
                                   <span>@customer.Position.Name</span>
                              </div>
                              <div class="feedback-description">
                                   <p>@customer.Description</p>
                              </div>
                        </div>
                   </div>
                }
            </div>
            <button class="carousel-control-prev prev btn" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next next btn" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

      </div>

    </section>

    <!--FEEDBACK-END-->



    <!--BLOG-START-->

    <section id="blog" class="mb-5">

      <h1>Blogs</h1>

      <div class="blogs">

          @foreach (Blog_ blog in Model.Blogs)
          {
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="blog">

                        <div class="blog-image">
                            <img src="~/assets/images/blogs/@blog.Image" alt="">
                        </div>

                        <div class="blog-content">
                            <div class="blog-author-date">
                                <div class="author">
                                    <i class="fa-solid fa-user-tie"></i>
                                    <span>@blog.Author.FullName</span>
                                </div>
                                <div class="datetime">
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span>@blog.DateTime.ToString("MM.dd.yyyy")</span>
                                </div>


                            </div>

                            <div class="blog-name text">
                                <span>@blog.Title</span>
                            </div>

                            <div class="blog-description text">
                                <p>@blog.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

      </div>

      <div class="blog-btn text-center mt-4">
        <a class="btn btn-success" asp-controller="Blog" asp-action="Index">Show All Blogs</a>
      </div>

      </div>

    </section>

    <!--BLOG-END-->


  </main>

  <!--MAIN-END-->

@section Scripts{
      <script src="~/assets/lib/owl-carousel/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
      <script src="~/assets/js/home.js"></script>
      <script src="~/assets/js/basket.js"></script>
      <script src="~/assets/js/add-to-wishlist.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}