@model IEnumerable<Product>


@foreach (Product product in Model)
{
    @if (product.StockCount == 0)
    {
        <div class="col-sm-12 col-md-6 col-lg-3" category-id="@product.CategoryId">
            <div class="product card product-out-of-stock" style="width: 18rem;">

                <div class="product-images">
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                        <img class="image1" src="~/assets/images/products/@product.ProductImages.Where(m => m.IsMain).FirstOrDefault().Image" alt="">
                        <img class="image2" src="~/assets/images/products/@product.ProductImages.Where(m => !m.IsMain).FirstOrDefault().Image" alt="">
                        <div class="out-of-stock">Out Of Stock</div>
                    </a>

                </div>

                <div class="product-add-to-wishlist">
                    <a href="#" class="add-to-wishlist">
                        <span class="no-wishlist wishlist">Add to wishlist</span>
                        <i class="@(product.StockCount == 0 ? "stop-animation" : "") fa-regular fa-heart"></i>
                        <i class="fa-solid fa-heart d-none"></i>
                    </a>
                </div>

                <div class="product-shuffle-eyeglasses">
                    <div class="icons">
                        <i class="@(product.StockCount == 0 ? "stop-animation" : "") fa-solid fa-shuffle"></i>
                        <span class="vertical-line"></span>
                        <i class="@(product.StockCount == 0 ? "stop-animation" : "") fa-solid fa-glasses"></i>
                    </div>
                </div>

                <div class="product-featured">
                    <span class="@(product.StockCount == 0 ? "stop-animation" : "")">@product.Featured</span>
                </div>

                <div class="product-content card-body">

                    <div class="product-rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa-solid fa-star @(i <= product.Rating.RatingCount ? "active" : "")"></i>
                        }
                    </div>
                    <span class="product-review">Reviews (@product.Reviews.Count)</span>
                    <h6 class="product-name">@product.Name</h6>
                    <h6 class="product-price @(product.Discount.Percent == 0 ? "no-discount" : "")">
                        @if (product.Discount.Percent == 0)
                        {
                            <span class="@(product.Discount.Percent == 0 ? "no-discount-price" : "")">$@product.ActualPrice.ToString("0.####") price</span>
                        }
                        else
                        {
                            <span class="discount">$@product.ActualPrice.ToString("0.####")</span>
                            <span>$@((product.ActualPrice - (product.ActualPrice * product.Discount.Percent) / 100).ToString("0.####"))</span>
                            <span>(@product.Discount.Percent% discount)</span>
                        }
                    </h6>
                    <a href="#" class="@(product.StockCount == 0 ? "no-hover" : "") product-add-to-cart">
                        <i class="@(product.StockCount == 0 ? "stop-animation" : "") fas fa-shopping-basket"></i>Add to cart
                    </a>

                </div>

            </div>
        </div>
    }

    else
    {
        <div class="col-sm-12 col-md-6 col-lg-3" category-id="@product.CategoryId">
            <div class="product card" category-id="@product.Id" style="width: 18rem;">

                <div class="product-images">
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                        <img class="image1" src="~/assets/images/products/@product.ProductImages.Where(m => m.IsMain).FirstOrDefault().Image" alt="">
                        <img class="image2" src="~/assets/images/products/@product.ProductImages.Where(m => !m.IsMain).FirstOrDefault().Image" alt="">
                    </a>
                </div>

                <div class="product-add-to-wishlist">
                    <a class="add-to-wishlist" data-id="@product.Id">
                        <span class="wishlist">Add to wishlist</span>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-heart d-none"></i>
                    </a>
                </div>

                <div class="product-shuffle-eyeglasses">
                    <div class="icons">
                        <i class="fa-solid fa-shuffle"></i>
                        <span class="vertical-line"></span>
                        <i class="fa-solid fa-glasses"></i>
                    </div>
                </div>

                <div class="product-featured">
                    <span>@product.Featured</span>
                </div>

                <div class="product-content card-body">

                    <div class="product-rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa-solid fa-star @(i <= product.Rating.RatingCount ? "active" : "")"></i>
                        }
                    </div>

                    <span class="product-review">Reviews (@product.Reviews.Count)</span>
                    <h6 class="product-name">@product.Name</h6>
                    <h6 class="product-price @(product.Discount.Percent == 0 ? "no-discount" : "")">
                        @if (product.Discount.Percent == 0)
                        {
                            <span class="@(product.Discount.Percent == 0 ? "no-discount-price" : "")">$@product.ActualPrice.ToString("0.####") price</span>
                        }
                        else
                        {
                            <span class="discount">$@product.ActualPrice.ToString("0.####")</span>
                            <span>$@((product.ActualPrice - (product.ActualPrice * product.Discount.Percent) / 100).ToString("0.####"))</span>
                            <span>(@product.Discount.Percent% discount)</span>
                        }
                    </h6>

                    <a href="" data-id="@product.Id" class="product-add-to-cart"><i class="fas fa-shopping-basket"></i>Add to cart</a>

                </div>

            </div>
        </div>
    }

}