@model List<DiscountVM>

@{
    ViewData["Title"] = "Discount";
}

@section Css{

    <link rel="stylesheet" href="~/admin/theme-assets/css/discount.css">
}


<div class="container">
    <h1 class="text-center my-3 title">Discounts</h1>
    <div class="btn-create create">
        <a class="btn btn-success btn-round green" asp-action="Create">Create</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Title
                    </th>

                    <th>
                        Percent
                    </th>

                    <th>
                       Target Time
                    </th>

                    <th>
                        Product Count
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DiscountVM discount in Model)
                {
                    <tr>
                        <td class="cell">
                            @discount.Name
                        </td>
                        <td class="cell">
                            @discount.Title
                        </td>
                        <td class="cell">
                            @discount.Percent%
                        </td>
                        <td style="width: 157px" class="cell">
                            @discount.TargetTime
                        </td>
                        <td style="width: 178px" class="cell">
                            @discount.ProductCount
                        </td>
                        <td style="width: 395px" class="cell">
                            <a class="btn btn-primary btn-round blue" asp-action="Detail" asp-route-id="@discount.Id">Detail</a>
                            <a class="btn btn-warning btn-round orange" asp-action="Edit" asp-route-id="@discount.Id">Edit</a>
                            <a data-id="@discount.Id" class="btn btn-danger red btn-round category-delete">Delete</a>

                        </td>
                    </tr>
                }



            </tbody>
        </table>
    </div>
</div>


