@model List<Category>

@{
    ViewData["Title"] = "Category";
}

@section Css{

    <link rel="stylesheet" href="~/admin/theme-assets/css/category.css">
}


<div class="container">
    <h1 class="text-center my-3 title">Categories</h1>
    <div class="btn-create create">
        <a class="btn btn-success btn-round green" asp-action="Create">Create</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Product Count
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category category in Model)
                {
                    <tr>
                        <td class="img">
                            <div class="image">
                                <img src="~/assets/images/categories/@category.Image">
                            </div>
                        </td>
                         <td class="cell">
                            @category.Name
                        </td>
                         <td class="cell">
                            @category.Products.Count
                        </td>
                         <td class="cell">
                            <a class="btn btn-primary btn-round blue" asp-action="Detail" asp-route-id="@category.Id">Detail</a>
                            <a class="btn btn-warning btn-round orange" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                            <a data-id="@category.Id" class="btn btn-danger red btn-round category-delete">Delete</a>

                        </td>
                    </tr>
                }
              


            </tbody>
        </table>
    </div>
</div>


