@model DashboardVM

@{
    ViewData["Title"] = "Dashboard";
}

@section Css{

    <link rel="stylesheet" href="~/admin/theme-assets/css/slider.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/category.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/banner.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/bannerinfo.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/product.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/blog.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/assistance.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/about.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/brand.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/discount.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/rating.css">
    <link rel="stylesheet" href="~/admin/theme-assets/css/tag.css">
}


<div class="container my-2">
    <h3 class="text-center title">Dashboard</h3>
    <h1 class="text-center title my-3">Categories</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Product Count
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                    @foreach (CategoryVM category in Model.Categories)
                    {
                        <tr>
                            <td class="img">
                                <div class="image">
                                    <img src="~/assets/images/categories/@category.Image">
                                </div>
                            </td>
                             <td class="cell1">
                                @category.Name
                            </td>
                             <td class="cell1">
                                @category.ProductCount
                            </td>
                          
                        </tr>
                    }

            </tbody>
        </table>
    </div>
</div>

<div class="ctn">
    <h1 class="text-center my-3 title">Sliders</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Logo
                    </th>
                    <th>
                        Text
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (SliderVM slider in Model.Sliders)
                {
                    <tr>
                        <td class="img">
                            <div class="image1">
                                <img src="~/assets/images/sliders/@slider.Image">
                            </div>
                        </td>

                        <td class="cell">
                            <div data-id="@slider.Id" class="status-slider @(slider.Status ? "status-true":"status-false")"></div>
                        </td>


                        <td class="logo">
                            <img src="~/assets/images/info-logos/@slider.Logo">
                        </td>

                        <td class="cell">
                            @slider.Text
                        </td>

                        <td class="cell">
                            @slider.Title
                        </td>

                        <td class="cell">
                            @slider.Description

                        </td>
                    </tr>
                }



            </tbody>
        </table>
    </div>
</div>

<div class="ctn2">
    <h1 class="text-center title my-3">Banners</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (BannerVM banner in Model.Banners)
                {
                    <tr>
                        <td class="img">
                           <div class="image2">
                               <img src="~/assets/images/banners/@banner.Image">
                           </div>
                           </td>
                     </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="ctn3">
    <h1 class="text-center title my-3">Banner Infos</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>

                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (BannerInfoVM bannerInfo in Model.BannerInfos)
                {
                    <tr>
                        <td class="cell2">
                            @bannerInfo.Title
                        </td>

                        <td class="description">
                            @Html.Raw(@bannerInfo.Description)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="ctn4">
    <h1 class="text-center my-3 title">Products</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>

                    <th>
                        Name
                    </th>

                    <th>
                        Description
                    </th>

                    <th>
                        Price
                    </th>

                    <th>
                        Category
                    </th>

                    <th>
                        Discount
                    </th>

                    <th>
                        Brand
                    </th>

                    <th>
                        Rating
                    </th>

                    <th>
                        Tag
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductVM product in Model.Products)
                {
                    <tr>
                        <td class="img2">
                            <div class="image3">
                                <img src="~/assets/images/products/@product.Image">
                            </div>
                        </td>

                        <td class="cell">
                            @product.Name
                        </td>

                        <td class="description-product">
                            @product.Description
                        </td>

                        <td class="cell">
                            $@product.Price
                        </td>

                        <td class="cell">
                            @product.Category
                        </td>

                        <td class="cell">
                            @product.Discount
                        </td>

                        <td class="cell">
                            @product.Brand
                        </td>

                        <td class="cell">
                            @product.Rating
                        </td>

                        <td class="cell">
                            @product.Tag
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="ctn5">
    <h1 class="text-center my-3 title">Blogs</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>

                    <th>
                        Title
                    </th>

                    <th>
                        Description
                    </th>

                    <th>
                        Date
                    </th>

                    <th>
                        Author
                    </th>

                    <th>
                        Review Count
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (BlogVM blog in Model.Blogs)
                {
                    <tr>
                        <td class="img3">
                            <div class="image5">
                                <img src="~/assets/images/blogs/@blog.Image">
                            </div>
                        </td>
                        <td class="cell4">
                            @blog.Title
                        </td>
                        <td class="description-blog">
                            @blog.Description
                        </td>
                        <td class="cell4">
                            @blog.Date
                        </td>
                        <td class="cell4">
                            @blog.Author
                        </td>
                        <td style="width: 175px" class="cell4">
                            @blog.ReviewCount
                        </td>
                    </tr>
                }



            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h1 class="text-center my-3 title">Services</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        About
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (AssistanceVM assistance in Model.Assistances)
                {
                    <tr>
                        <td class="img">
                            <div class="image4">
                                <img src="~/assets/images/services/@assistance.Image">
                            </div>
                        </td>
                        <td class="cell5">
                            @assistance.Title
                        </td>
                        <td class="cell5">
                            @assistance.Description
                        </td>
                        <td class="cell5">
                            @assistance.About
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="ctn6">
    <h1 class="text-center my-3 title">Abouts</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cell5">
                        @Model.About.Title
                    </td>
                    <td class="description-about">
                        @Model.About.Description
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h1 class="text-center my-3 title">Brands</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Product Count
                    </th>
              
                </tr>
            </thead>
            <tbody>
                @foreach (BrandVM brand in Model.Brands)
                {
                    <tr>
                        <td class="img">
                            <div class="image6">
                                <img src="~/assets/images/brands/@brand.Image">
                            </div>
                        </td>
                        <td class="cell">
                            @brand.Name
                        </td>
                        <td class="cell">
                            @brand.ProductCount
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h1 class="text-center my-3 title">Discounts</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Title
                    </th>

                    <th>
                        Percent
                    </th>

                    <th>
                        Target Time
                    </th>

                    <th>
                        Product Count
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DiscountVM discount in Model.Discounts)
                {
                    <tr>
                        <td class="cell">
                            @discount.Name
                        </td>
                        <td class="cell">
                            @discount.Title
                        </td>
                        <td class="cell">
                            @discount.Percent%
                        </td>
                        <td style="width: 157px" class="cell">
                            @discount.TargetTime
                        </td>
                        <td style="width: 178px" class="cell">
                            @discount.ProductCount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h1 class="text-center my-3 title">Ratings</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Rating Count
                    </th>
                    <th>
                        Product Count
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (RatingVM rating in Model.Ratings)
                {
                     <tr>
                          <td>
                          @rating.RatingCount
                          </td>
                          <td>
                          @rating.ProductCount
                          </td>
                        
                     </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h1 class="text-center my-3 title">Tags</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Product Count
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (TagVM tag in Model.Tags)
                {
                    <tr>
                        <td>
                            @tag.Name
                        </td>
                        <td>
                            @tag.ProductCount
                        </td>                 
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






