
@{
    ViewData["Title"] = "Shop";
}

<!--MAIN-START-->

@model ShopVM

@section Css{
         <link rel="stylesheet" href="~/assets/css/pages/shop/shop.css">
}

  <main>


    <!--BANNER-START-->

    <section id="banner">

      <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="banner" style="background-image: url(assets/images/banners/@Model.Banners.Skip(6).Take(1).FirstOrDefault().Image">
          <h1>@Model.BannerInfos.Skip(2).Take(1).FirstOrDefault().Title</h1>
          <p>@Model.BannerInfos.Skip(2).Take(1).FirstOrDefault().Description</p>
        </div>

      </div>

    </section>

    <!--BANNER-END-->


    <!--FILTER-START-->

    <section id="filtering" class="my-4">


      <div class="row" style="width: 100%;">

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="left-side">

            <div class="banner-image">
               <img src="~/assets/images/banners/@Model.Banners.Skip(7).Take(1).FirstOrDefault().Image" alt="">
            </div>

            <div class="filter my-5">
              <h5 class="my-2">Filter By Category</h5>
              <div class="filter-category">
                <ul>
                    @foreach (Category category in Model.Categories)
                    {
                         <li>
                             <div class="filter-by-category filter-by">
                                 <input class="form-check-input category-filter" data-id="@category.Id" type="checkbox">
                                 <label for="">@category.Name</label>
                             </div>
                              <span>(@category.Products.Where(m => m.CategoryId == category.Id).Count()) products</span>
                         </li>
                    }
                </ul>

              </div>

            </div>

            <div class="filter my-5">
              <h5 class="my-2">Filter By Price</h5>
              <div class="filter-price my-3">
                <input class="minimum" type="text" placeholder="Minimum">
                <input class="maximum" type="text" placeholder="Maximum">
              </div>
              <div class="filter-btn">
                <a href="#" class="filter-by-price">Filter</a>
              </div>
            </div>

            <div class="filter my-5">
              <h5 class="my-2">Filter By Rating</h5>
              <div class="filter-rating">
                <ul>
                  @foreach (Rating rating in Model.Ratings.OrderByDescending(m => m.RatingCount))
                  {
                      <li>
                          <div class="filter-by-rating filter-by">
                             <input class="form-check-input rating-filter" data-id="@rating.Id" type="checkbox">
                             <label class="star" for="">
                                @for (int i = 1; i <= Model.Ratings.Count(); i++)
                                {
                                   <i class="fa-solid fa-star @(i <= rating.RatingCount ? "active" : "non-active")"></i>
                                }
                             </label>
                          </div>
                        <span>(@rating.Products.Where(m => m.RatingId == rating.Id).Count()) products</span>
                      </li>
                  }
                 
                
                </ul>

              </div>

            </div>

            <div class="filter my-5">
              <h5 class="my-2">Filter By Tag</h5>
              <div class="filter-tag">
                <ul>
                    @foreach (Tag tag in Model.Tags)
                    {
                        <li>
                            <div class="filter-by-tag filter-by">
                                <input class="form-check-input tag-filter" data-id="@tag.Id" type="checkbox">
                                <label for="">@tag.Name</label>
                            </div>
                           <span>(@tag.ProductTags.Where(m => m.TagId == tag.Id).Where(m => m.ProductId == m.Product.Id).Count()) products</span>
                        </li>
                    }
              
                </ul>

              </div>

            </div>

            <div class="filter my-5">
              <h5 class="my-2">Filter By Brand</h5>
              <div class="filter-brand">
                <ul>
                    @foreach (Brand brand in Model.Brands)
                    {
                         <li>
                             <div class="filter-by-brand filter-by">
                                  <input class="form-check-input" data-id="@brand.Id" type="checkbox">
                                  <label for="">@brand.Name</label>
                             </div>
                             <span>(@brand.Products.Where(m => m.BrandId == brand.Id).Count()) products</span>
                         </li>
                    }
                </ul>

              </div>

            </div>

          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-9">

          <div class="breadcrumb-sortby d-flex">

            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <div class="breadcrumb-items">
                     <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active"><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                     <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                     <li class="breadcrumb-item"><a asp-controller="About" asp-action="Index">About</a></li>
                     <li class="breadcrumb-item"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                </div>
              </ol>
            </nav>

            <div class="sort-by">
              <span>Sort by</span>

              <select id="sorting">
                <option value="descending-by-price"> Price - High to Low</option>
                <option value="ascending-by-price">Price - Low to High</option>
                <option value="ascending-by-name">Name - A to Z</option>
                <option value="descending-by-name">Name - Z to A</option>
              </select>

            </div>
          </div>

        <div class="right-side products">

                <div class="tab-content filtering-products" id="pills-tabContent">

                <partial name="_ProductsPartial" model="Model.PaginatedProducts.Datas" />

            </div>

          </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">

              <li class="page-item @(Model.PaginatedProducts.HasPrevious ? "" : "disabled")" >
                 <a class="page-link" asp-route-page="@(Model.PaginatedProducts.CurrentPage - 1)">Previous</a>
              </li>

              @for (int i = 1; i <= Model.PaginatedProducts.TotalPage; i++)
              {
              <li class="page-item @(Model.PaginatedProducts.CurrentPage == i ? "disabled" : "")">
                  <a class="page-link @(Model.PaginatedProducts.CurrentPage == i ? "active-color" : "" )" asp-route-page="@i">@i</a>
              </li>
              }

              <li class="page-item @(Model.PaginatedProducts.HasNext ? "" : "disabled")">
                 <a class="page-link" asp-route-page="@(Model.PaginatedProducts.CurrentPage + 1)">Next</a>
              </li>

            </ul>
          </nav>

        </div>

      </div>


    </section>

    <!--FILTER-END-->


  </main>


  <!--MAIN-END-->

@section Scripts{
    <script src="~/assets/js/shop.js"></script>
    <script src="~/assets/js/basket.js"></script>
    <script src="~/assets/js/add-to-wishlist.js"></script>
    <script src="~/assets/js/filtering.js"></script>
    <script src="~/assets/js/sortby.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}