@{
    ViewData["Title"] = "Cart";
    decimal grandTotalPrice = 0;
}

@model CartVM

@section Css{
    <link rel="stylesheet" href="~/assets/css/pages/cart/cart.css">
}
    <!--MAIN-START-->

    <main>


        <!--BANNER-START-->

        <section id="banner">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="banner" style="background-image: url(assets/images/banners/@Model.Banners.Skip(6).Take(1).FirstOrDefault().Image">
                <h1>@Model.BannerInfos.Skip(6).Take(1).FirstOrDefault().Title</h1>
                </div>
            </div>
        </section>

        <!--BANNER-END-->



        <!--CART-TABLE-START-->

        <section id="cart-table" class="py-5">
      
        @if(Model.Baskets.Count != 0)
        {
            <div class="cart-products">

                <div class="col-sm-12 col-md-12 col-lg-8">
                    <h1>Products</h1>
                    <table class="table table-striped table-bordered my-5">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (BasketDetailVM product in Model.Baskets)
                            {
                                <tr>

                                    <td class="image"><img src="~/assets/images/products/@product.Image" alt=""></td>
                                    <td class="cell">@product.Name</td>
                                    <td class="description">@product.Description</td>
                                    <td class="quantity">
                                        <div class="count">
                                            <i data-id="@product.Id" class="fa-solid fa-plus plus"></i>
                                            <input class="input" type="number" value="@product.Count">
                                            <i data-id="@product.Id" class="fa-solid fa-minus minus"></i>
                                        </div>
                                    </td>
                                    @if (product.Percent == 0)
                                    {
                                        <td class="cell">$@product.Price.ToString("0.####")</td>
                                        <td style="width: 100px" class="cell"> $@product.TotalPrice.ToString("0.####")</td>
                                    }
                                    else
                                    {
                                        <td class="cell">$@product.DiscountPrice.ToString("0.####")</td>
                                        <td style="width: 100px" class="cell">$@((product.DiscountPrice * product.Count).ToString("0.####"))</td>
                                    }

                                    <td class="cell button">
                                        <button data-id="@product.Id" class="btn btn-danger rounded-5 product-delete-from-cart">Delete</button>
                                    </td>
                                </tr>
                                @if (product.Percent == 0)
                                {
                                    grandTotalPrice += product.TotalPrice;
                                }
                                else
                                {
                                    grandTotalPrice += (product.DiscountPrice * product.Count);
                                }

                        }
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4">

                    <div class="cart-info">
                        <h3>Cart Information</h3>


                        <h4>Shipping:</h4>

                        <ul>
                            <li>
                                <div class="input-label">
                                    <input id="" class="form-check-input" type="checkbox">
                                    <label for="">Free Shipping</label>
                                </div>
                                <span>$0.00</span>
                            </li>
                            <li>

                                <div class="input-label">
                                    <input id="" class="form-check-input" type="checkbox">
                                    <label for="">Standard</label>
                                </div>
                                <span>$10.00</span>
                            </li>
                            <li>
                                <div class="input-label">
                                    <input id="" class="form-check-input" type="checkbox">
                                    <label for="">Expresss</label>
                                </div>
                                <span>$20.00</span>
                            </li>
                        </ul>

                        <h5>Grand Total:<span>$</span><span class="grand-total-price">@grandTotalPrice.ToString("0.####")</span></h5>

                        <div class="payment">
                            <h6>WE ACCEPT:</h6>
                            <img src="~/assets/images/info-logos/payment.png" alt="">
                            <p>Got a discount code? Add it in the next step.</p>
                        </div>

                        <div class="shipping-btn">
                            <button class="btn btn-success">Proceed To Checkout </button>
                        </div>


                    </div>

                </div>

            </div>

            <div class="cart-empty d-none">

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger" role="alert">
                        <span>Your cart is currently empty!</span>
                        <div class="cart-icon">
                            <img src="~/assets/images/info-logos/shopping-basket.png" alt="">
                        </div>

                        <p>
                            Before proceed to checkout, you add some products to your cart. You will find a lot of
                            products on our "Shop" page.
                        </p>

                        <div class="shop-btn">
                            <a class="btn btn-success rounded-5" asp-controller="Shop" asp-action="Index">Return To Shop</a>
                        </div>

                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="cart-empty">

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger" role="alert">
                        <span>Your cart is currently empty!</span>
                        <div class="cart-icon">
                            <img src="~/assets/images/info-logos/shopping-basket.png" alt="">
                        </div>

                        <p>
                            Before proceed to checkout, you add some products to your cart. You will find a lot of
                            products on our "Shop" page.
                        </p>

                        <div class="shop-btn">
                            <a class="btn btn-success rounded-5" href="shop.html">Return To Shop</a>
                        </div>

                    </div>
                </div>

            </div>
        }

        </section>

        <!--CART-TABLE-END-->



    </main>


    <!--MAIN-END-->

@section Scripts{
    <script src="~/assets/js/cart.js"></script>
    <script src="~/assets/js/basket.js"></script>
}
