@model AboutVM

@{
    ViewData["Title"] = "About";
}

@section Css{
    <link rel="stylesheet" href="~/admin/theme-assets/css/about.css">
}

<div class="container" style="margin-bottom: 17%">
    <h1 class="text-center my-3 title">Abouts</h1>
    <div class="btn-create create">
        <a class="btn btn-success btn-round green" asp-action="Create">Create</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="cell5">
                            @Model.Title
                        </td>
                        <td class="description-about">
                            @Model.Description
                        </td>
                    
                        <td class="cell5">
                            <a class="btn btn-primary btn-round blue" asp-action="Detail" asp-route-id="@Model.Id">Detail</a>
                            <a class="btn btn-warning btn-round orange" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            <a data-id="@Model.Id" class="btn btn-danger red btn-round category-delete">Delete</a>

                        </td>
                    </tr>
               

            </tbody>
        </table>
    </div>
</div>